.flex {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form-container {
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

h2 {
    margin-bottom: 50px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

button {
    width: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button p {
    margin: 0px;
    padding: 0px;
    color: #fff;
}

.greenBTN {
    background-color: #555;
}

.greenBTN:hover {
    background-color: #e73a76;
}

.redBTN {
    background-color: #e73a76;
}

.redBTN:hover {
    background-color: #555;
}


.flex-btn {
    display: flex;
    justify-content: space-between;
}