section {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#actions button {
  background-color: #e73a76;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

#actions button:hover {
  background-color: #555;
}

#article h2 {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

#article p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

#commentaire h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.comment {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
  color: #666;
}

#add-comment-form h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

#add-comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.form-buttons {
  text-align: right;
}

.form-buttons button {
  background-color: #e73a76;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.form-buttons button:hover {
  background-color: #555;
}