.liste_articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 0;
}

article {
    height: 200px;
    width: 400px;
    max-width: 500px;
    margin: 25px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.8s, box-shadow 0.8s;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.show-more-button {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px 20px;
    background-color: rgba(193, 248, 161, 0.692);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
}

article:hover {
    background-color: rgba(95, 86, 86, 0.2);
    box-shadow: 5px 5px 8px 6px rgba(0, 0, 0, 0.3);
}

article:hover .show-more-button {
    display: flex;
}