body {
  background-color: #f4f4f4;
}

h1 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  height: 150px;
  width: 150px;
}

/* NAVBAR */
nav {
  background-color: #333;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  position: relative;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav a:hover {
  color: #fff;
  background-color: #e73a76;
  border-radius: 5px;
}

nav a:active {
  color: #aaa;
}

/* Dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e73a76;
}

.dropdown-content a {
  padding: 10px 20px;
}

.dropdown-content a:hover {
  background-color: #e73a76;
  color: #fff;
  border-radius: 5px;
}

/* Connexion BTN */
.connexion a {
  background-color: #e73a76;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.connexion a:hover {
  background-color: #555;
}

.connexion a:active {
  background-color: #444;
}

/* ARTICLES */
#last_articles {
  padding: 20px;
  background-color: #fff;
}

.article {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.article .text {
  flex: 1;
  margin-right: 20px;
}

.article .image img {
  border-radius: 5px;
}

.more {
  text-align: center;
  margin-top: 20px;
}

.more a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.more a:hover {
  background-color: #e73a76;
}

/* NOUVEL ARTICLE */
#new-article {
  text-align: center;
  margin-top: 40px;
}

#new-article button {
  background-color: #e73a76;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#new-article button:hover {
  background-color: #555;
}

#new-article button a {
  text-decoration: none;
  color: black;
}