body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  align-items: center;
  height: 100vh;
  margin: 0;
}

p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px 0;
  clear: both;
}

h1 {
  font-size: 24px;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #005395;
  font-size: 30px;
}

h3,
h4 {
  text-align: center;
}

h3 {
  color: #c711A4 ;
}

h4 {
  color: #005395;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}