h1 {
  font-size: 24px;
  color: #333;
  /* Couleur du texte */
  font-weight: bold;
  /* Gras */
  text-decoration: underline;
  /* Souligné */
  margin-bottom: 10px;
  /* Marge en bas */
}

p {
  font-size: 16px;
  color: #666;
  /* Couleur du texte */
  line-height: 1.5;
  /* Hauteur de ligne */
  margin-bottom: 20px;
  /* Marge en bas */
}

body {
  background-color: pink;
}

img {
  height: 600px;
  width: 400px;
}